/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}


.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}
.gwt-DecoratedPopupPanel .popupContent {

}
.gwt-DecoratedPopupPanel .popupMiddleCenter {
    /* height: 100%;
    width: 100%; */
    padding: 3px;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.gwt-DecoratedPopupPanel .popupTopCenter {
    background: url(images/hborder.png) 0px -2937px repeat-x;
}
.gwt-DecoratedPopupPanel .popupBottomCenter {
    background:  url(images/hborder.png) repeat-x 0px -2938px;
    -background: url(images/hborder_ie6.png) repeat-x 0px -2138px;
}
.gwt-DecoratedPopupPanel .popupMiddleLeft {
    background: url(images/vborder.png) -21px 0px repeat-y;
}
.gwt-DecoratedPopupPanel .popupMiddleRight {
    background: url(images/vborder.png) repeat-y -24px 0px;
    -background: url(images/vborder_ie6.png) repeat-y -24px 0px;
}
.gwt-DecoratedPopupPanel .popupTopLeftInner {
    width: 6px;
    height: 5px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopRightInner {
    width: 6px;
    height: 5px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomLeftInner {
    width: 6px;
    height: 6px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupBottomRightInner {
    width: 6px;
    height: 6px;
    zoom: 1;
}
.gwt-DecoratedPopupPanel .popupTopLeft {
    background: url(images/circles.png) no-repeat 0px -16px;
    -background: url(images/circles_ie6.png) no-repeat 0px -16px;
}
.gwt-DecoratedPopupPanel .popupTopRight {
    background: url(images/circles.png) no-repeat -6px -16px;
    -background: url(images/circles_ie6.png) no-repeat -6px -16px;
}
.gwt-DecoratedPopupPanel .popupBottomLeft {
    background: url(images/circles.png) no-repeat 0px -21px;
    -background: url(images/circles_ie6.png) no-repeat 0px -21px;
}
.gwt-DecoratedPopupPanel .popupBottomRight {
    background: url(images/circles.png) no-repeat -6px -21px;
    -background: url(images/circles_ie6.png) no-repeat -6px -21px;
}
html>body .gwt-DecoratedPopupPanel {
}
* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
    width: 6px;
    height: 5px;
    overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupTopRightInner {
    width: 6px;
    height: 5px;
    overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
    width: 6px;
    height: 6px;
    overflow: hidden;
}
* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
    width: 6px;
    height: 6px;
    overflow: hidden;
}

.gwt-BehaviorsPopupPanel
{
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-right: 4px;
    /* background:transparent;	 */

}

.gwt-BehaviorsPopupPanel .ObjectName
{
    font-weight: bold;
    border-bottom-style:solid;
    border-bottom-color: black;
    border-bottom-width: 1px;	  	
    text-align: center;  	
    /* background:transparent;	 */

}
.gwt-BehaviorsPopupPanel .widgetProperty
{
    margin-left: 8px;
    /* background:transparent;	 */

}


.header_panel {
    background-image: url(background.png);
    background-repeat:repeat;

}
.lateral_panel {
    background-color: #89ae20;

}
.logo {	
    margin-top:2em;
    margin-bottom:2em;

}
canvas {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}