<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
    <context-param>
        <param-name>org.restlet.clients</param-name>
        <param-value>FILE WAR HTTP</param-value>
    </context-param>
	
    <servlet>
        <servlet-name>adapter</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>it.freedomotic.gwtclient.server.RestServerRedirector</param-value>				
        </init-param>
        <init-param>
            <param-name>org.restlet.clients</param-name>
            <param-value>HTTP</param-value>
        </init-param>
        <context-param>
            <param-name>restapi.host</param-name>
            <param-value>localhost</param-value>
        </context-param>
        <context-param>
            <param-name>restapi.port</param-name>
            <param-value>8111</param-value>
        </context-param>
      
    </servlet>
	
    <servlet-mapping>
        <servlet-name>adapter</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
  
    <!-- 	<servlet>
                 		<servlet-name>jspServlet1</servlet-name>
                 		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
                 		<servlet-name>jspServlet1</servlet-name>
                 		 <url-pattern>gwt-hosting.jsp</url-pattern>
  	</servlet-mapping>
  	 -->
	
	
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Freedomotic.html</welcome-file>
    </welcome-file-list>

</web-app>
