*.class

# Package Files #
*.jar
*.war

#except the library jars
!lib/*.jar

# gwt caches and compiled units #
war/freedomotic/
gwt-unitCache/
test-classes/
www-test/

# except the client library jars
!war/WEB-INF/lib/*.jar

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

# temporal editing files
*~
