Source: freedomotic
Section: java
Priority: extra
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Matteo Mazzoni <matteo@bestmazzo.it>
Build-Depends: debhelper (>= 8.0.0), ant
Build-Depends-Indep: default-jdk
Standards-Version: 3.9.2
Homepage: http://www.freedomotic.com
#Vcs-Git: git://git.debian.org/collab-maint/freedomotic.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/freedomotic.git;a=summary

Package: freedomotic
Architecture: all
Depends: default-jre, librxtx-java, adduser
Description: Freedomotic - open Source building Automation
 Freedomotic is an open, flexible, scalable and mashups oriented software 
 that can interact with well known standard building automation protocols
 as long as with "do it yourself" solutions.
 It treats the web, social networks and frontends just like any other sensor
 or actuator in your automation system. 
 For example you can tweet your washing machine to start the washing cycle.
