#Fri Oct 28 17:37:55 CEST 2016
public class PrefixedPropertyFactoryBean extends AbstractFactoryBean<Properties> {

    private List<Resource> locations;
    public void setLocations(List<Resource> locations) { this.locations = locations; }

    private String prefix;
    public void setPrefix(String prefix) { this.prefix = prefix; }

    @Override public Class<?> getObjectType() { return Properties.class; }

    @Override
    protected Properties createInstance() throws Exception {
        Properties properties = new Properties();
        for (Resource resource : locations) {
           properties.load( resource.getInputStream());
        }
        final Iterator<Object> keyIterator = properties.keySet().iterator();
        while(keyIterator.hasNext()) {
            if(!keyIterator.next().toString().startsWith(prefix))
            keyIterator.remove();
        }
        return properties;
    }
}
