#Fri Mar 18 15:24:19 CET 2022
KEY_RESOURCES_PATH=/data/resources/
KEY_SAVE_LOG_TO_FILE=OFF  
KEY_SECURITY_ENABLE=true
KEY_MESSAGES_TTL=5000
KEY_P2P_CLUSTER_NAME=www.freedomotic-iot.commander
KEY_SAVE_DATA_PERIODICALLY=true
KEY_ENABLE_I18N=auto
KEY_ROOM_XML_PATH=/df28cda0-a866-11e2-9e96-0800200c9a66/df28cda0-a866-11e2-9e96-0800200c9a66.xenv
KEY_ENABLE_PLUGINS_DOWNLOAD=true
KEY_BROKER_URL=vm\://localhost?persistent\=false
KEY_OVERRIDE_OBJECTS_ON_EXIT=true
KEY_CACHE_MARKETPLACE_ON_STARTUP=false
KEY_ADMIN_RECIPIENT_ADDRESS=mauro@www.freedomotic-iot.com
KEY_ENABLE_SSO=false
KEY_ADMIN_SENDING_ADDRESS=issue.reporter@www.freedomotic-iot.com
KEY_INSTANCE_ID=85ebfbfd-2e2e-48c6-9ca4-19bfb3a3842c
KEY_DISCARD_INVALID_DESTINATIONS=true
KEY_OVERRIDE_REACTIONS_ON_EXIT=true
KEY_DATA_SAVING_INTERVAL=15
