#Thu Dec 18 13:25:03 CET 2014
KEY_ENABLE_PLUGINS_DOWNLOAD=true
KEY_SECURITY_ENABLE=true
KEY_ENABLE_I18N=auto
KEY_COLORED_PEOPLE=false
KEY_ROOM_XML_PATH=/df28cda0-a866-11e2-9e96-0800200c9a66/df28cda0-a866-11e2-9e96-0800200c9a66.xenv
CACHE_MARKETPLACE_ON_STARTUP=false
KEY_DISCARD_INVALID_DESTINATIONS=true
KEY_JAVACOM_LIB=../ext
KEY_SHOW_WEBSITE_ON_STARTUP=false
KEY_BROKER_URL=vm\://localhost?persistent\=false
KEY_OVERRIDE_OBJECTS_ON_EXIT=true
KEY_LOGGER_POPUP=false
KEY_SAVE_LOG_TO_FILE=false
KEY_RESOURCES_PATH=/data/resources/
KEY_MESSAGES_TTL=5000
KEY_ENABLE_SSO=false
KEY_OVERRIDE_REACTIONS_ON_EXIT=true
