Source: freedomotic
Section: java
Priority: extra
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Matteo Mazzoni <matteo@bestmazzo.it>
Build-Depends: debhelper (>= 8.0.0), ant
Build-Depends-Indep: default-jdk
Standards-Version: 3.9.2
Homepage: http://www.freedomotic.com
Package: freedomotic
Version: [[version]]
Architecture: all
Maintainer: matteo@freedomotic.com
Depends: default-jre, librxtx-java, adduser
Description: [[description]]
 Freedomotic is an open, flexible, scalable and mashups oriented software 
 that can interact with well known standard building automation protocols
 as long as with "do it yourself" solutions.
 It treats the web, social networks and frontends just like any other sensor
 or actuator in your automation system. 
 For example you can tweet your washing machine to start the washing cycle.
